# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Local databases
*.db
*.sqlite
*.sqlite3

# Output files
output/

# Environment variables
.env